# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'fekit'
      'submenu': [
        {
          'label': '打包(Pack)'
          'command': 'fekit:pack'
        },
        {
          'label': '同步到测试服务器(sync)'
          'command': 'fekit:sync'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'fekit'
      'submenu': [
        {
          'label': 'Pack'
          'command': 'fekit:pack'
        }
      ]
    ]
  }
]
