# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'fekit'
      'submenu': [
        {
          'label': '打包 (Pack)'
          'command': 'fekit:pack'
        },
        {
          'label': '压缩/混淆 (min)'
          'command': 'fekit:min'
        },
        {
          'label': '同步到远程 (sync)'
          'command': 'fekit:sync'
        },
        {
          'label': '初始化fekit项目 (init)'
          'command': 'fekit:initproj'
        },
        {
          'label': '创建本地服务 (server)'
          'command': 'fekit:server'
        }
      ]
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'fekit'
      'submenu': [
        {
          'label': '打包(Pack)'
          'command': 'fekit:pack'
        },
        {
          'label': '压缩/混淆(min)'
          'command': 'fekit:min'
        },
        {
          'label': '同步到远程(sync)'
          'command': 'fekit:sync'
        },
        {
          'label': '初始化fekit项目(init)'
          'command': 'fekit:initproj'
        },
        {
          'label': '创建本地服务(server)'
          'command': 'fekit:server'
        }
      ]
    ]
  }
]
